* {
  box-sizing: border-box;
  font-family: 'Malgun Gothic';
}

h1 {
  text-align: center;
}

h2 {
  text-align: center;
}

#container {
  width: 1000px;
  margin: 0 auto;
}

/*헤더영역*/

header {
  text-align: center;
  align-items: center;
}

nav {
  background-color: black;
  height: 50px;
}

nav ul {
  padding: 0;
  text-align: center;
  margin: 0;
}

nav ul li {
  float: left;
  list-style: none;
}

nav ul li a {
  color: white;
  text-decoration: none;
  display: block;
  padding: 10px 20px;
}

#b {
  float: right
}

nav:hover {
  background-color: rgb(204, 154, 162);
}

nav a:hover {
  background-color: pink;
  color: black;
}


/*좌측 사이드영역*/
.left {
  background-color: rgb(201, 201, 201);
  float: left;
  width: 200px;
  height: 700px;
  text-align: center;
}

.left ul {
  list-style: none;
  padding-left: 5px;
  font-weight: bold;
}



/*섹션영역*/
legend {
  font-size: 20px;
  margin-bottom: 10px;
}

.section {
  width: 600px;
  height: 700px;
}

/*회원가입 폼영역*/
form {
  margin-left: 50px;
  width: 500px;
  margin: 0 auto;
  background-color: #ccc;
  float: left;
  align-items: center;
  justify-content: center;
  border: none;
  margin-left: 50px;
}

form li {
  border-radius: 5px;
  background-color: white;
  opacity: 0.5;
  border-style: dotted;
  border-color: white;
}

fieldset {
  margin-bottom: 10px;
  border: none;
  border-radius: 10px;
}

form ul li {
  list-style: none;
  margin-bottom: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  padding: 5px;
  border-radius: 10px;
}

legend {

  padding-top: 10px;
  text-align: center;
  font-weight: bold;
}


.login label {
  display: inline-block;
  width: 130px;
}

.login ul {
  list-style: none;
}

.private label {
  display: inline-block;
  width: 130px;
}

.private ul {
  list-style: none;
}

input {
  padding: 3px;
  width: 250px;
  cursor: pointer;
}

.button {
  border: none;
}

.button ul {
  display: inline-block;
  list-style: none;
}

/*우측 사이드영역*/
.right {
  background-color: rgb(201, 201, 201);
  float: right;
  width: 200px;
  height: 700px;
  padding: 10px;
}

.right ul {
  list-style: none;
  font-weight: bold;
  padding-left: 5px;
}

/*푸터 영역*/
footer {
  clear: both;
  text-align: center;
  padding-top: 1px;
  background-color: rgb(83, 79, 79);
  height: 70px;
}